# Downloading Stock Prices for S&P 500 Market Index Companies

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
sp500url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data_table = pd.read_html(sp500url)
data_table

[    Symbol              Security SEC filings             GICS Sector  \
 0      MMM                    3M     reports             Industrials
 1      AOS           A. O. Smith     reports             Industrials
 2      ABT                Abbott     reports             Health Care
 3     ABBV                AbbVie     reports             Health Care
 4      ACN             Accenture     reports  Information Technology
 ..     ...                   ...         ...                     ...
 498    YUM           Yum! Brands     reports  Consumer Discretionary
 499   ZBRA    Zebra Technologies     reports  Information Technology
 500    ZBH         Zimmer Biomet     reports             Health Care
 501   ZION  Zions Bancorporation     reports              Financials
 502    ZTS                Zoetis     reports             Health Care

                       GICS Sub-Industry    Headquarters Location  Date added  \
 0              Industrial Conglomerates    Saint Paul, Minnesota  1976-08-09
 1                     Building Products     Milwaukee, Wisconsin  2017-07-26
 2                 Health Care Equipment  North Chicago, Illinois  1964-03-31
 3                       Pharmaceuticals  North Chicago, Illinois  2012-12-31
 4        IT Consulting & Other Services          Dublin, Ireland  2011-07-06
 ..                                  ...                      ...         ...
 498                         Restaurants     Louisville, Kentucky  1997-10-06
 499  Electronic Equipment & Instruments   Lincolnshire, Illinois  2019-12-23
 500               Health Care Equipment          Warsaw, Indiana  2001-08-07
 501                      Regional Banks     Salt Lake City, Utah  2001-06-22
 502                     Pharmaceuticals   Parsippany, New Jersey  2013-06-21

          CIK      Founded
 0      66740         1902
 1      91142         1916
 2       1800         1888
 3    1551152  2013 (1888)
 4    1467373         1989
 ..       ...          ...
 498  1041061         1997
 499   877212         1969
 500  1136869         1927
 501   109380         1873
 502  1555280         1952

 [503 rows x 9 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0      January 5, 2023    NaN                            NaN     VNO
 1      January 4, 2023   GEHC                  GE HealthCare     NaN
 2    December 22, 2022   STLD                 Steel Dynamics    ABMD
 3    December 19, 2022   FSLR                    First Solar    FBHS
 4    December 19, 2022    NaN                            NaN     MBC
 ..                 ...    ...                            ...     ...
 315       June 9, 1999    WLP                      Wellpoint     HPH
 316  December 11, 1998    FSR                        Firstar     LDW
 317  December 11, 1998    CCL                 Carnival Corp.     GRN
 318  December 11, 1998   CPWR                      Compuware     SUN
 319      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                      \
                            Security
 0              Vornado Realty Trust
 1                               NaN
 2                           Abiomed
 3    Fortune Brands Home & Security
 4                       MasterBrand
 ..                              ...
 315        Harnischfeger Industries
 316                           Amoco
 317                      General Re
 318                      SunAmerica
 319                          USLife

                                                 Reason
                                                 Reason
 0                     Market capitalization change.[4]
 1    S&P 500 constituent General Electric spun off ...
 2    S&P 500 constituent Johnson & Johnson acquired...
 3                     Market capitalization change.[7]
 4                     Market capitalization change.[7]
 ..                                                 ...
 315           Harnischfeger filed for bankruptcy.[241]
 316            British Petroleum purchased Amoco.[242]
 317      Berkshire Hathaway purchased General Re.[242]
 318                     AIG purchased SunAmerica.[242]
 319                          AIG acquired USLife.[243]

 [320 rows x 6 columns]]

In [3]:
len(data_table)

2

In [4]:
data_table[0]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

Now we extract the tickers of these market indices

In [6]:
tickers = data_table[0]['Symbol'].tolist()
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FSLR',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PKI',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SBNY',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [7]:
len(tickers)

503

503 tickers

In [9]:
yf.download('MMM', start = '2023-02-01', end= '2023-02-04')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-01 00:00:00-05:00,114.550003,116.739998,113.650002,115.860001,115.860001,3100800
2023-02-02 00:00:00-05:00,116.089996,120.849998,115.510002,120.290001,120.290001,4916300
2023-02-03 00:00:00-05:00,118.930000,119.230003,116.800003,117.220001,117.220001,1466435

In [10]:
snp_prices = yf.download(tickers, start = '2023-02-01', end= '2023-02-04')['Adj Close']

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted

In [11]:
snp_prices

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-02-01 00:00:00-05:00,155.449997,16.690001,156.839996,145.429993,146.600006,161.050003,111.820000,64.180000,283.600006,383.920013,...,104.320000,69.610001,114.739998,37.4800,104.919998,129.009995,127.800003,328.630005,53.389999,167.809998
2023-02-02 00:00:00-05:00,155.500000,17.059999,155.240005,150.820007,144.839996,158.470001,112.250000,61.349998,294.100006,392.230011,...,102.959999,69.559998,111.150002,39.6600,105.930000,128.210007,127.410004,344.700012,54.290001,171.000000
2023-02-03 00:00:00-05:00,153.990005,16.957001,152.610001,155.470001,145.610001,156.535004,111.660004,61.320000,288.070007,380.709991,...,103.489998,67.629997,111.760002,38.7775,105.279999,127.070000,129.880005,331.750000,54.520000,167.160004

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted

Rectify this error, because Wikipedia returns ticker: BF-B as BF.B, so yahoofinance cannot fetch this as it is incorrect ticker.

In [12]:
snp_prices.isna().any()

A       False
AAL     False
AAP     False
AAPL    False
ABBV    False
        ...
YUM     False
ZBH     False
ZBRA    False
ZION    False
ZTS     False
Length: 503, dtype: bool

In [13]:
snp_prices.loc[:,snp_prices.isna().any()]

                           BF.B  BRK.B
Date
2023-02-01 00:00:00-05:00   NaN    NaN
2023-02-02 00:00:00-05:00   NaN    NaN
2023-02-03 00:00:00-05:00   NaN    NaN

In [14]:
yf.download('BF-B')['Adj Close']

[*********************100%***********************]  1 of 1 completed

Date
1980-03-17 00:00:00-05:00     0.198797
1980-03-18 00:00:00-05:00     0.198797
1980-03-19 00:00:00-05:00     0.201457
1980-03-20 00:00:00-05:00     0.202121
1980-03-21 00:00:00-05:00     0.199462
                               ...
2023-01-30 00:00:00-05:00    66.000000
2023-01-31 00:00:00-05:00    66.580002
2023-02-01 00:00:00-05:00    67.180000
2023-02-02 00:00:00-05:00    66.839996
2023-02-03 00:00:00-05:00    66.614998
Name: Adj Close, Length: 10814, dtype: float64

In [15]:
yf.download('BRK-B')['Adj Close']

[*********************100%***********************]  1 of 1 completed

Date
1996-05-09 00:00:00-04:00     23.200001
1996-05-10 00:00:00-04:00     24.000000
1996-05-13 00:00:00-04:00     23.900000
1996-05-14 00:00:00-04:00     23.600000
1996-05-15 00:00:00-04:00     23.200001
                                ...
2023-01-30 00:00:00-05:00    307.329987
2023-01-31 00:00:00-05:00    311.519989
2023-02-01 00:00:00-05:00    310.570007
2023-02-02 00:00:00-05:00    311.859985
2023-02-03 00:00:00-05:00    308.119995
Name: Adj Close, Length: 6731, dtype: float64

In [20]:
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FSLR',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PKI',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SBNY',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

Change/Rectify the incorrect tickers from the list.

In [25]:
for i in range(len(tickers)):
    if tickers[i] == 'BF.B':
        tickers[i] = 'BF-B'
    elif tickers[i] == 'BRK.B':
        tickers[i] = 'BRK-B'

In [27]:
'BF-B' in tickers

True

In [28]:
'BRK-B' in tickers

True

In [29]:
snp_prices = yf.download(tickers, start = '2023-02-01', end= '2023-02-04')['Adj Close']

[*********************100%***********************]  503 of 503 completed

In [30]:
snp_prices

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-02-01 00:00:00-05:00,155.449997,16.690001,156.839996,145.429993,146.600006,161.050003,111.820000,64.180000,283.600006,383.920013,...,104.320000,69.610001,114.739998,37.48,104.919998,129.009995,127.800003,328.630005,53.389999,167.809998
2023-02-02 00:00:00-05:00,155.500000,17.059999,155.240005,150.820007,144.839996,158.470001,112.250000,61.349998,294.100006,392.230011,...,102.959999,69.559998,111.150002,39.66,105.930000,128.210007,127.410004,344.700012,54.290001,171.000000
2023-02-03 00:00:00-05:00,153.550003,16.940001,152.660004,155.149994,145.160004,156.309998,111.450897,61.430000,287.535004,379.274994,...,103.484398,67.779198,111.879997,38.66,105.290001,127.269997,129.779999,330.779999,54.509998,166.729996

In [31]:
snp_prices[['BRK-B', 'BF-B']]

                                BRK-B       BF-B
Date
2023-02-01 00:00:00-05:00  310.570007  67.180000
2023-02-02 00:00:00-05:00  311.859985  66.839996
2023-02-03 00:00:00-05:00  308.260010  66.650002

We have the data now.

In [32]:
len(snp_prices.columns)

503