# Stock/Options/Fundamental Data with Ticker object of yfinance

In [1]:
import pandas as pd
import yfinance as yf

In [3]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

In [5]:
df = ticker.history(start='2021-01-01', end='2022-01-01')
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04 00:00:00-05:00,131.936187,132.025115,125.256372,127.874939,143301900,0.0,0.0
2021-01-05 00:00:00-05:00,127.361130,130.177330,126.906580,129.455978,97664900,0.0,0.0
2021-01-06 00:00:00-05:00,126.204984,129.495485,124.880875,125.098267,155088000,0.0,0.0
2021-01-07 00:00:00-05:00,126.837389,130.068604,126.343320,129.367020,109578200,0.0,0.0
2021-01-08 00:00:00-05:00,130.859110,131.056749,128.685209,130.483627,105158200,0.0,0.0
...,...,...,...,...,...,...,...
2021-12-27 00:00:00-05:00,176.068149,179.378936,176.048276,179.289459,74919600,0.0,0.0
2021-12-28 00:00:00-05:00,179.120422,180.283669,177.499823,178.255432,79144300,0.0,0.0
2021-12-29 00:00:00-05:00,178.295210,179.587712,177.112075,178.344925,62348900,0.0,0.0
2021-12-30 00:00:00-05:00,178.434398,179.528057,177.062357,177.171722,59773000,0.0,0.0
2021-12-31 00:00:00-05:00,177.062353,178.195774,176.237140,176.545364,64062300,0.0,0.0

Daily price of stock of Apple

In [6]:
df = ticker.history(start='2021-01-01', end='2022-01-01', actions=False, rounding=True)
df

                             Open    High     Low   Close     Volume
Date
2021-01-04 00:00:00-05:00  131.94  132.03  125.26  127.87  143301900
2021-01-05 00:00:00-05:00  127.36  130.18  126.91  129.46   97664900
2021-01-06 00:00:00-05:00  126.20  129.50  124.88  125.10  155088000
2021-01-07 00:00:00-05:00  126.84  130.07  126.34  129.37  109578200
2021-01-08 00:00:00-05:00  130.86  131.06  128.69  130.48  105158200
...                           ...     ...     ...     ...        ...
2021-12-27 00:00:00-05:00  176.07  179.38  176.05  179.29   74919600
2021-12-28 00:00:00-05:00  179.12  180.28  177.50  178.26   79144300
2021-12-29 00:00:00-05:00  178.30  179.59  177.11  178.34   62348900
2021-12-30 00:00:00-05:00  178.43  179.53  177.06  177.17   59773000
2021-12-31 00:00:00-05:00  177.06  178.20  176.24  176.55   64062300

[252 rows x 5 columns]

Increase granularity of stock price to 1 minute

In [7]:
df = ticker.history(period='max', actions=False, rounding=True, interval='1m')
df

                             Open    High     Low   Close  Volume
Datetime
2023-01-27 12:42:00-05:00  146.66  146.69  146.59  146.65       0
2023-01-27 12:43:00-05:00  146.66  146.68  146.63  146.65   62061
2023-01-27 12:44:00-05:00  146.64  146.64  146.51  146.55  122216
2023-01-27 12:45:00-05:00  146.56  146.64  146.55  146.57   75744
2023-01-27 12:46:00-05:00  146.58  146.58  146.45  146.48  101766
...                           ...     ...     ...     ...     ...
2023-02-03 12:37:00-05:00  156.15  156.29  156.09  156.20  225746
2023-02-03 12:38:00-05:00  156.20  156.32  156.17  156.28  122652
2023-02-03 12:39:00-05:00  156.29  156.31  156.10  156.14  160522
2023-02-03 12:40:00-05:00  156.15  156.31  156.12  156.27  129216
2023-02-03 12:41:00-05:00  156.30  156.30  156.30  156.30       0

[1948 rows x 5 columns]

Only 7 days worth of 1m granularity data are allowed to be fetched per request

In [8]:
df = ticker.history(period='5d', actions=False, rounding=True, interval='1m', prepost=False)
df

                             Open    High     Low   Close   Volume
Datetime
2023-01-30 09:30:00-05:00  144.96  145.25  144.60  145.19  2136012
2023-01-30 09:31:00-05:00  145.19  145.54  145.11  145.32   353220
2023-01-30 09:32:00-05:00  145.33  145.55  145.28  145.35   268376
2023-01-30 09:33:00-05:00  145.35  145.35  144.84  144.86   285522
2023-01-30 09:34:00-05:00  144.84  145.03  144.51  144.64   420324
...                           ...     ...     ...     ...      ...
2023-02-03 12:38:00-05:00  156.20  156.32  156.17  156.28   122652
2023-02-03 12:39:00-05:00  156.29  156.31  156.10  156.14   160522
2023-02-03 12:40:00-05:00  156.15  156.31  156.12  156.27   129216
2023-02-03 12:41:00-05:00  156.26  156.34  156.26  156.27   135143
2023-02-03 12:42:00-05:00  156.13  156.13  156.13  156.13        0

[1751 rows x 5 columns]

info() to get information about the dataframe returned by yfinance API

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1751 entries, 2023-01-30 09:30:00-05:00 to 2023-02-03 12:42:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1751 non-null   float64
 1   High    1751 non-null   float64
 2   Low     1751 non-null   float64
 3   Close   1751 non-null   float64
 4   Volume  1751 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 82.1 KB

Setting the prepost = True

In [10]:
df = ticker.history(period='5d', actions=False, rounding=True, interval='1m', prepost=True)
df

                             Open    High     Low   Close  Volume
Datetime
2023-01-30 04:00:00-05:00  145.50  145.88  144.01  144.02       0
2023-01-30 04:01:00-05:00  144.08  144.09  143.96  144.03       0
2023-01-30 04:02:00-05:00  144.05  144.09  144.01  144.01       0
2023-01-30 04:03:00-05:00  144.01  144.10  144.00  144.02       0
2023-01-30 04:04:00-05:00  144.02  144.06  144.02  144.02       0
...                           ...     ...     ...     ...     ...
2023-02-03 12:40:00-05:00  156.15  156.31  156.12  156.27  129216
2023-02-03 12:41:00-05:00  156.26  156.34  156.26  156.27  135143
2023-02-03 12:42:00-05:00  156.28  156.36  156.10  156.12  152771
2023-02-03 12:43:00-05:00  156.12  156.14  155.97  156.06  192153
2023-02-03 12:44:00-05:00  155.84  155.84  155.84  155.84       0

[4282 rows x 5 columns]

Returns information about stock, pre and post market hours

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4282 entries, 2023-01-30 04:00:00-05:00 to 2023-02-03 12:44:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    4282 non-null   float64
 1   High    4282 non-null   float64
 2   Low     4282 non-null   float64
 3   Close   4282 non-null   float64
 4   Volume  4282 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 200.7 KB

## Bitcoin

In [13]:
symbol = 'BTC-USD'
ticker = yf.Ticker(symbol)

1m granularity data of BTC-USD

In [14]:
df = ticker.history(period='5d', actions=False, rounding=True, interval='1m', prepost=False)
df

                               Open      High       Low     Close    Volume
Datetime
2023-01-30 00:00:00+00:00  23774.65  23774.65  23774.65  23774.65         0
2023-01-30 00:01:00+00:00  23764.30  23764.30  23764.30  23764.30         0
2023-01-30 00:02:00+00:00  23766.18  23766.18  23766.18  23766.18  10315776
2023-01-30 00:03:00+00:00  23762.25  23762.25  23762.25  23762.25   3895296
2023-01-30 00:04:00+00:00  23756.93  23756.93  23756.93  23756.93         0
...                             ...       ...       ...       ...       ...
2023-02-03 17:39:00+00:00  23611.68  23611.68  23611.68  23611.68   4380672
2023-02-03 17:40:00+00:00  23624.08  23624.08  23624.08  23624.08  22595584
2023-02-03 17:41:00+00:00  23626.40  23626.40  23626.40  23626.40   7477248
2023-02-03 17:42:00+00:00  23628.01  23628.01  23628.01  23628.01         0
2023-02-03 17:43:00+00:00  23645.45  23645.45  23645.45  23645.45  37787648

[6778 rows x 5 columns]

BTC is traded all the time

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6778 entries, 2023-01-30 00:00:00+00:00 to 2023-02-03 17:43:00+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    6778 non-null   float64
 1   High    6778 non-null   float64
 2   Low     6778 non-null   float64
 3   Close   6778 non-null   float64
 4   Volume  6778 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 317.7 KB

## Market data for Multiple stocks

In [19]:
symbols = 'AAPL META GOOG'
ticker = yf.Tickers(symbols)

We get a multi-index dataframe

In [20]:
df = ticker.history(interval='1d', start='2023-01-01', actions=False, rounding=True)
df

[*********************100%***********************]  3 of 3 completed

                            Close                    High                  \
                             AAPL    GOOG    META    AAPL    GOOG    META
Date
2023-01-03 00:00:00-05:00  125.07   89.70  124.74  130.90   91.55  126.37
2023-01-04 00:00:00-05:00  126.36   88.71  127.37  128.66   91.24  129.05
2023-01-05 00:00:00-05:00  125.02   86.77  126.94  127.77   88.21  128.52
2023-01-06 00:00:00-05:00  129.62   88.16  130.02  130.29   88.47  130.33
2023-01-09 00:00:00-05:00  130.15   88.80  129.47  133.41   90.83  132.95
2023-01-10 00:00:00-05:00  130.73   89.24  132.99  131.26   89.47  133.44
2023-01-11 00:00:00-05:00  133.49   92.26  132.89  133.51   92.45  133.85
2023-01-12 00:00:00-05:00  133.41   91.91  136.71  134.26   92.62  137.68
2023-01-13 00:00:00-05:00  134.76   92.80  136.98  134.92   92.98  137.39
2023-01-17 00:00:00-05:00  135.94   92.16  135.36  137.29   92.97  136.75
2023-01-18 00:00:00-05:00  135.21   91.78  133.02  138.61   93.59  137.25
2023-01-19 00:00:00-05:00  135.27   93.91  136.15  136.25   94.40  137.45
2023-01-20 00:00:00-05:00  137.87   99.28  139.37  138.02   99.42  139.94
2023-01-23 00:00:00-05:00  141.11  101.21  143.27  143.32  101.40  143.76
2023-01-24 00:00:00-05:00  142.53   99.21  143.14  143.16  101.09  145.00
2023-01-25 00:00:00-05:00  141.86   96.73  141.50  142.43   97.72  143.17
2023-01-26 00:00:00-05:00  143.96   99.16  147.30  144.25   99.21  147.51
2023-01-27 00:00:00-05:00  145.93  100.71  151.74  147.23  101.58  153.19
2023-01-30 00:00:00-05:00  143.00   97.95  147.06  145.55   99.41  151.12
2023-01-31 00:00:00-05:00  144.29   99.87  148.97  144.34   99.91  149.88
2023-02-01 00:00:00-05:00  145.43  101.43  153.12  146.61  102.19  153.58
2023-02-02 00:00:00-05:00  150.82  108.80  188.77  151.18  108.82  197.16
2023-02-03 00:00:00-05:00  155.63  106.57  193.19  157.38  108.02  196.77

                              Low                    Open                  \
                             AAPL    GOOG    META    AAPL    GOOG    META
Date
2023-01-03 00:00:00-05:00  124.17   89.02  122.28  130.28   89.83  122.82
2023-01-04 00:00:00-05:00  125.08   87.80  125.85  126.89   91.01  127.38
2023-01-05 00:00:00-05:00  124.76   86.56  124.54  127.13   88.07  126.13
2023-01-06 00:00:00-05:00  124.89   85.57  126.04  126.01   87.36  128.97
2023-01-09 00:00:00-05:00  129.89   88.58  129.28  130.47   89.19  131.16
2023-01-10 00:00:00-05:00  128.12   86.70  127.15  130.26   86.72  127.27
2023-01-11 00:00:00-05:00  130.46   89.74  130.34  131.25   90.06  130.96
2023-01-12 00:00:00-05:00  131.44   90.57  131.76  133.88   92.40  133.44
2023-01-13 00:00:00-05:00  131.66   90.93  134.84  132.03   91.53  134.97
2023-01-17 00:00:00-05:00  134.13   90.84  134.25  134.83   92.78  136.18
2023-01-18 00:00:00-05:00  135.03   91.40  132.80  136.82   92.94  135.81
2023-01-19 00:00:00-05:00  133.77   91.38  132.14  134.08   91.39  132.49
2023-01-20 00:00:00-05:00  134.22   95.91  134.61  135.28   95.95  135.89
2023-01-23 00:00:00-05:00  137.90   98.75  138.66  138.12   99.13  139.29
2023-01-24 00:00:00-05:00  140.30   98.70  141.36  140.31   99.55  141.69
2023-01-25 00:00:00-05:00  138.81   95.26  140.31  140.89   97.20  141.22
2023-01-26 00:00:00-05:00  141.90   96.82  143.30  143.17   98.28  144.40
2023-01-27 00:00:00-05:00  143.08   98.97  147.39  143.16   99.05  148.24
2023-01-30 00:00:00-05:00  142.85   97.52  146.95  144.96   98.75  149.41
2023-01-31 00:00:00-05:00  142.28   97.79  147.52  142.70   97.86  147.95
2023-02-01 00:00:00-05:00  141.32   98.42  147.06  143.97   99.74  148.03
2023-02-02 00:00:00-05:00  148.17  106.54  180.16  148.90  106.79  183.38
2023-02-03 00:00:00-05:00  147.83  103.30  183.13  148.03  103.51  183.46

                              Volume
                                AAPL      GOOG       META
Date
2023-01-03 00:00:00-05:00  112117500  20738500   35528500
2023-01-04 00:00:00-05:00   89113600  27046500   32397100
2023-01-05 00:00:00-05:00   80962700  23136100   25447100
2023-01-06 00:00:00-05:00   87686600  26604400   27567600
2023-01-09 00:00:00-05:00   70790800  22996700   26649100
2023-01-10 00:00:00-05:00   63896200  22855600   28684400
2023-01-11 00:00:00-05:00   69458900  25998800   25423000
2023-01-12 00:00:00-05:00   71379600  22754200   30757700
2023-01-13 00:00:00-05:00   57758000  18617800   22410700
2023-01-17 00:00:00-05:00   63646600  22935800   21147600
2023-01-18 00:00:00-05:00   69672800  19641600   20215500
2023-01-19 00:00:00-05:00   58280400  28707700   28625200
2023-01-20 00:00:00-05:00   79972200  53610200   28643100
2023-01-23 00:00:00-05:00   81760300  31791800   27470100
2023-01-24 00:00:00-05:00   66435100  27391400   21970200
2023-01-25 00:00:00-05:00   65799300  31000900   26622000
2023-01-26 00:00:00-05:00   54105100  24542100   25482100
2023-01-27 00:00:00-05:00   70492800  29011900   35746900
2023-01-30 00:00:00-05:00   64015300  24365100   28040100
2023-01-31 00:00:00-05:00   65874500  22306800   29842100
2023-02-01 00:00:00-05:00   77663600  26392600   55661000
2023-02-02 00:00:00-05:00  116868600  46401000  150276800
2023-02-03 00:00:00-05:00   98197327  22274262   49710181

Extract only AAPL and META tickers for Open

In [21]:
idx = pd.IndexSlice
df.loc[:, idx['Close',['AAPL','META']]]

                            Close
                             AAPL    META
Date
2023-01-03 00:00:00-05:00  125.07  124.74
2023-01-04 00:00:00-05:00  126.36  127.37
2023-01-05 00:00:00-05:00  125.02  126.94
2023-01-06 00:00:00-05:00  129.62  130.02
2023-01-09 00:00:00-05:00  130.15  129.47
2023-01-10 00:00:00-05:00  130.73  132.99
2023-01-11 00:00:00-05:00  133.49  132.89
2023-01-12 00:00:00-05:00  133.41  136.71
2023-01-13 00:00:00-05:00  134.76  136.98
2023-01-17 00:00:00-05:00  135.94  135.36
2023-01-18 00:00:00-05:00  135.21  133.02
2023-01-19 00:00:00-05:00  135.27  136.15
2023-01-20 00:00:00-05:00  137.87  139.37
2023-01-23 00:00:00-05:00  141.11  143.27
2023-01-24 00:00:00-05:00  142.53  143.14
2023-01-25 00:00:00-05:00  141.86  141.50
2023-01-26 00:00:00-05:00  143.96  147.30
2023-01-27 00:00:00-05:00  145.93  151.74
2023-01-30 00:00:00-05:00  143.00  147.06
2023-01-31 00:00:00-05:00  144.29  148.97
2023-02-01 00:00:00-05:00  145.43  153.12
2023-02-02 00:00:00-05:00  150.82  188.77
2023-02-03 00:00:00-05:00  155.63  193.19

Let's say we only want the Closing price as a single index

In [22]:
df['Close']

                             AAPL    GOOG    META
Date
2023-01-03 00:00:00-05:00  125.07   89.70  124.74
2023-01-04 00:00:00-05:00  126.36   88.71  127.37
2023-01-05 00:00:00-05:00  125.02   86.77  126.94
2023-01-06 00:00:00-05:00  129.62   88.16  130.02
2023-01-09 00:00:00-05:00  130.15   88.80  129.47
2023-01-10 00:00:00-05:00  130.73   89.24  132.99
2023-01-11 00:00:00-05:00  133.49   92.26  132.89
2023-01-12 00:00:00-05:00  133.41   91.91  136.71
2023-01-13 00:00:00-05:00  134.76   92.80  136.98
2023-01-17 00:00:00-05:00  135.94   92.16  135.36
2023-01-18 00:00:00-05:00  135.21   91.78  133.02
2023-01-19 00:00:00-05:00  135.27   93.91  136.15
2023-01-20 00:00:00-05:00  137.87   99.28  139.37
2023-01-23 00:00:00-05:00  141.11  101.21  143.27
2023-01-24 00:00:00-05:00  142.53   99.21  143.14
2023-01-25 00:00:00-05:00  141.86   96.73  141.50
2023-01-26 00:00:00-05:00  143.96   99.16  147.30
2023-01-27 00:00:00-05:00  145.93  100.71  151.74
2023-01-30 00:00:00-05:00  143.00   97.95  147.06
2023-01-31 00:00:00-05:00  144.29   99.87  148.97
2023-02-01 00:00:00-05:00  145.43  101.43  153.12
2023-02-02 00:00:00-05:00  150.82  108.80  188.77
2023-02-03 00:00:00-05:00  155.63  106.57  193.19

In [24]:
df['Close'][['AAPL','META']]

                             AAPL    META
Date
2023-01-03 00:00:00-05:00  125.07  124.74
2023-01-04 00:00:00-05:00  126.36  127.37
2023-01-05 00:00:00-05:00  125.02  126.94
2023-01-06 00:00:00-05:00  129.62  130.02
2023-01-09 00:00:00-05:00  130.15  129.47
2023-01-10 00:00:00-05:00  130.73  132.99
2023-01-11 00:00:00-05:00  133.49  132.89
2023-01-12 00:00:00-05:00  133.41  136.71
2023-01-13 00:00:00-05:00  134.76  136.98
2023-01-17 00:00:00-05:00  135.94  135.36
2023-01-18 00:00:00-05:00  135.21  133.02
2023-01-19 00:00:00-05:00  135.27  136.15
2023-01-20 00:00:00-05:00  137.87  139.37
2023-01-23 00:00:00-05:00  141.11  143.27
2023-01-24 00:00:00-05:00  142.53  143.14
2023-01-25 00:00:00-05:00  141.86  141.50
2023-01-26 00:00:00-05:00  143.96  147.30
2023-01-27 00:00:00-05:00  145.93  151.74
2023-01-30 00:00:00-05:00  143.00  147.06
2023-01-31 00:00:00-05:00  144.29  148.97
2023-02-01 00:00:00-05:00  145.43  153.12
2023-02-02 00:00:00-05:00  150.82  188.77
2023-02-03 00:00:00-05:00  155.63  193.19

using groupeby parameter

In [25]:
df = ticker.history(interval='1d', start='2023-01-01', actions=False, rounding=True, group_by='tickers')
df

[*********************100%***********************]  3 of 3 completed

                             META                                       AAPL  \
                             Open    High     Low   Close     Volume    Open
Date
2023-01-03 00:00:00-05:00  122.82  126.37  122.28  124.74   35528500  130.28
2023-01-04 00:00:00-05:00  127.38  129.05  125.85  127.37   32397100  126.89
2023-01-05 00:00:00-05:00  126.13  128.52  124.54  126.94   25447100  127.13
2023-01-06 00:00:00-05:00  128.97  130.33  126.04  130.02   27567600  126.01
2023-01-09 00:00:00-05:00  131.16  132.95  129.28  129.47   26649100  130.47
2023-01-10 00:00:00-05:00  127.27  133.44  127.15  132.99   28684400  130.26
2023-01-11 00:00:00-05:00  130.96  133.85  130.34  132.89   25423000  131.25
2023-01-12 00:00:00-05:00  133.44  137.68  131.76  136.71   30757700  133.88
2023-01-13 00:00:00-05:00  134.97  137.39  134.84  136.98   22410700  132.03
2023-01-17 00:00:00-05:00  136.18  136.75  134.25  135.36   21147600  134.83
2023-01-18 00:00:00-05:00  135.81  137.25  132.80  133.02   20215500  136.82
2023-01-19 00:00:00-05:00  132.49  137.45  132.14  136.15   28625200  134.08
2023-01-20 00:00:00-05:00  135.89  139.94  134.61  139.37   28643100  135.28
2023-01-23 00:00:00-05:00  139.29  143.76  138.66  143.27   27470100  138.12
2023-01-24 00:00:00-05:00  141.69  145.00  141.36  143.14   21970200  140.31
2023-01-25 00:00:00-05:00  141.22  143.17  140.31  141.50   26622000  140.89
2023-01-26 00:00:00-05:00  144.40  147.51  143.30  147.30   25482100  143.17
2023-01-27 00:00:00-05:00  148.24  153.19  147.39  151.74   35746900  143.16
2023-01-30 00:00:00-05:00  149.41  151.12  146.95  147.06   28040100  144.96
2023-01-31 00:00:00-05:00  147.95  149.88  147.52  148.97   29842100  142.70
2023-02-01 00:00:00-05:00  148.03  153.58  147.06  153.12   55661000  143.97
2023-02-02 00:00:00-05:00  183.38  197.16  180.16  188.77  150276800  148.90
2023-02-03 00:00:00-05:00  183.46  196.77  183.13  191.58   51028349  148.03

                                                                GOOG          \
                             High     Low   Close     Volume    Open    High
Date
2023-01-03 00:00:00-05:00  130.90  124.17  125.07  112117500   89.83   91.55
2023-01-04 00:00:00-05:00  128.66  125.08  126.36   89113600   91.01   91.24
2023-01-05 00:00:00-05:00  127.77  124.76  125.02   80962700   88.07   88.21
2023-01-06 00:00:00-05:00  130.29  124.89  129.62   87686600   87.36   88.47
2023-01-09 00:00:00-05:00  133.41  129.89  130.15   70790800   89.19   90.83
2023-01-10 00:00:00-05:00  131.26  128.12  130.73   63896200   86.72   89.47
2023-01-11 00:00:00-05:00  133.51  130.46  133.49   69458900   90.06   92.45
2023-01-12 00:00:00-05:00  134.26  131.44  133.41   71379600   92.40   92.62
2023-01-13 00:00:00-05:00  134.92  131.66  134.76   57758000   91.53   92.98
2023-01-17 00:00:00-05:00  137.29  134.13  135.94   63646600   92.78   92.97
2023-01-18 00:00:00-05:00  138.61  135.03  135.21   69672800   92.94   93.59
2023-01-19 00:00:00-05:00  136.25  133.77  135.27   58280400   91.39   94.40
2023-01-20 00:00:00-05:00  138.02  134.22  137.87   79972200   95.95   99.42
2023-01-23 00:00:00-05:00  143.32  137.90  141.11   81760300   99.13  101.40
2023-01-24 00:00:00-05:00  143.16  140.30  142.53   66435100   99.55  101.09
2023-01-25 00:00:00-05:00  142.43  138.81  141.86   65799300   97.20   97.72
2023-01-26 00:00:00-05:00  144.25  141.90  143.96   54105100   98.28   99.21
2023-01-27 00:00:00-05:00  147.23  143.08  145.93   70492800   99.05  101.58
2023-01-30 00:00:00-05:00  145.55  142.85  143.00   64015300   98.75   99.41
2023-01-31 00:00:00-05:00  144.34  142.28  144.29   65874500   97.86   99.91
2023-02-01 00:00:00-05:00  146.61  141.32  145.43   77663600   99.74  102.19
2023-02-02 00:00:00-05:00  151.18  148.17  150.82  116868600  106.79  108.82
2023-02-03 00:00:00-05:00  157.38  147.83  154.71  101214331  103.51  108.02


                              Low   Close    Volume
Date
2023-01-03 00:00:00-05:00   89.02   89.70  20738500
2023-01-04 00:00:00-05:00   87.80   88.71  27046500
2023-01-05 00:00:00-05:00   86.56   86.77  23136100
2023-01-06 00:00:00-05:00   85.57   88.16  26604400
2023-01-09 00:00:00-05:00   88.58   88.80  22996700
2023-01-10 00:00:00-05:00   86.70   89.24  22855600
2023-01-11 00:00:00-05:00   89.74   92.26  25998800
2023-01-12 00:00:00-05:00   90.57   91.91  22754200
2023-01-13 00:00:00-05:00   90.93   92.80  18617800
2023-01-17 00:00:00-05:00   90.84   92.16  22935800
2023-01-18 00:00:00-05:00   91.40   91.78  19641600
2023-01-19 00:00:00-05:00   91.38   93.91  28707700
2023-01-20 00:00:00-05:00   95.91   99.28  53610200
2023-01-23 00:00:00-05:00   98.75  101.21  31791800
2023-01-24 00:00:00-05:00   98.70   99.21  27391400
2023-01-25 00:00:00-05:00   95.26   96.73  31000900
2023-01-26 00:00:00-05:00   96.82   99.16  24542100
2023-01-27 00:00:00-05:00   98.97  100.71  29011900
2023-01-30 00:00:00-05:00   97.52   97.95  24365100
2023-01-31 00:00:00-05:00   97.79   99.87  22306800
2023-02-01 00:00:00-05:00   98.42  101.43  26392600
2023-02-02 00:00:00-05:00  106.54  108.80  46401000
2023-02-03 00:00:00-05:00  103.30  105.84  22932972

Instead of having pricing details as the first index, we want to have symbols as first index

## Fundamental Data

In [26]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

Get company information in form of a dictionary

In [28]:
ticker.info

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 164000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. Further, it provides AppleCare support and cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33105, 'profitMargins': 0.2531, 'grossMargins': 0.43310001, 'operatingCashflow': 122151002112, 'revenueGrowth': 0.081, 'operatingMargins': 0.30289, 'ebitda': 130541002752, 'targetLowPrice': 122, 'recommendationKey': 'buy', 'grossProfits': 170782000000, 'freeCashflow': 90215251968, 'targetMedianPrice': 170, 'earningsGrowth': 0.048, 'currentRatio': 0.879, 'returnOnAssets': 0.21214001, 'numberOfAnalystOpinions': 39, 'targetMeanPrice': 170.88, 'debtToEquity': 261.446, 'returnOnEquity': 1.75459, 'targetHighPrice': 214, 'totalCash': 48304001024, 'totalDebt': 132480000000, 'totalRevenue': 394328014848, 'totalCashPerShare': 3.036, 'financialCurrency': 'USD', 'revenuePerShare': 24.317, 'quickRatio': 0.709, 'recommendationMean': 2, 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-18000000', 'quoteType': 'EQUITY', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.08, 'beta3Year': None, 'enterpriseToEbitda': 18.367, '52WeekChange': -0.12512326, 'morningStarRiskRating': None, 'forwardEps': 6.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 15836199936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.178, 'sharesShort': 121868919, 'sharesPercentSharesOut': 0.0077, 'fundFamily': None, 'lastFiscalYearEnd': 1663977600, 'heldPercentInstitutions': 0.6121, 'netIncomeToCommon': 99802996736, 'trailingEps': 6.11, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.0712738, 'priceToBook': 48.688137, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1695513600, 'yield': None, 'mostRecentQuarter': 1663977600, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1671062400, 'floatShares': 15890459989, 'beta': 1.27241, 'enterpriseValue': 2397693542400, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1667520000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.008, 'priceToSalesTrailing12Months': 6.2139874, 'dateShortInterest': 1673568000, 'pegRatio': 2.98, 'ytdReturn': None, 'forwardPE': 23.16331, 'lastCapGain': None, 'shortPercentOfFloat': 0.0077, 'sharesShortPriorMonth': 121757434, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'trailingAnnualDividendYield': 0.0059673777, 'payoutRatio': 0.14729999, 'volume24Hr': None, 'navPrice': None, 'trailingAnnualDividendRate': 0.9, 'toCurrency': None, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1667520000, 'circulatingSupply': None, 'startDate': None, 'trailingPE': 25.324205, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'volumeAllCurrencies': None, 'strikePrice': None, 'ask': 155.59, 'askSize': 1800, 'fromCurrency': None, 'fiveYearAvgDividendYield': 0.96, 'bid': 155.56, 'tradeable': False, 'dividendYield': 0.0063, 'bidSize': 1200, 'coinMarketCapLink': None, 'preMarketPrice': 147.94, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': None}

Check the labels returned

In [29]:
ticker.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'shortName', 'longName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'navPrice', 'trailingAnnualDividendRate', 'toCurrency', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'trailingPE', 'lastMarket', 'maxSupply', 'openInterest', 'volumeAllCurrencies', 'strikePrice', 'ask', 'askSize', 'fromCurrency', 'fiveYearAvgDividendYield', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'coinMarketCapLink', 'preMarketPrice', 'logo_url', 'trailingPegRatio'])

In [31]:
pd.Series(ticker.info)

zip                                                                95014
sector                                                        Technology
fullTimeEmployees                                                 164000
longBusinessSummary    Apple Inc. designs, manufactures, and markets ...
city                                                           Cupertino
                                             ...
bidSize                                                             1200
coinMarketCapLink                                                   None
preMarketPrice                                                    147.94
logo_url                             https://logo.clearbit.com/apple.com
trailingPegRatio                                                    None
Length: 129, dtype: object

In [32]:
ticker.info['longBusinessSummary']

'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. Further, it provides AppleCare support and cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.'

In [35]:
data = ticker.history(period='10y')
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-02-04 00:00:00-05:00,13.941323,14.003672,13.575521,13.585350,477117200,0.000000,0.0
2013-02-05 00:00:00-05:00,13.638486,14.120388,13.582280,14.062031,573347600,0.000000,0.0
2013-02-06 00:00:00-05:00,14.019950,14.328009,13.900473,14.046979,593706400,0.000000,0.0
2013-02-07 00:00:00-05:00,14.311111,14.519636,14.029058,14.464648,704580800,0.094643,0.0
2013-02-08 00:00:00-05:00,14.643210,14.791804,14.465575,14.673485,633158400,0.000000,0.0
...,...,...,...,...,...,...,...
2023-01-30 00:00:00-05:00,144.960007,145.550003,142.850006,143.000000,64015300,0.000000,0.0
2023-01-31 00:00:00-05:00,142.699997,144.339996,142.279999,144.289993,65874500,0.000000,0.0
2023-02-01 00:00:00-05:00,143.970001,146.610001,141.320007,145.429993,77663600,0.000000,0.0
2023-02-02 00:00:00-05:00,148.899994,151.179993,148.169998,150.820007,116868600,0.000000,0.0
2023-02-03 00:00:00-05:00,148.029999,157.380005,147.830002,155.050003,102137078,0.000000,0.0

Look at dividends and stock splits

In [36]:
ticker.actions

                           Dividends  Stock Splits
Date
2013-02-07 00:00:00-05:00   0.094643           0.0
2013-05-09 00:00:00-04:00   0.108929           0.0
2013-08-08 00:00:00-04:00   0.108929           0.0
2013-11-06 00:00:00-05:00   0.108929           0.0
2014-02-06 00:00:00-05:00   0.108929           0.0
2014-05-08 00:00:00-04:00   0.117500           0.0
2014-06-09 00:00:00-04:00   0.000000           7.0
2014-08-07 00:00:00-04:00   0.117500           0.0
2014-11-06 00:00:00-05:00   0.117500           0.0
2015-02-05 00:00:00-05:00   0.117500           0.0
2015-05-07 00:00:00-04:00   0.130000           0.0
2015-08-06 00:00:00-04:00   0.130000           0.0
2015-11-05 00:00:00-05:00   0.130000           0.0
2016-02-04 00:00:00-05:00   0.130000           0.0
2016-05-05 00:00:00-04:00   0.142500           0.0
2016-08-04 00:00:00-04:00   0.142500           0.0
2016-11-03 00:00:00-04:00   0.142500           0.0
2017-02-09 00:00:00-05:00   0.142500           0.0
2017-05-11 00:00:00-04:00   0.157500           0.0
2017-08-10 00:00:00-04:00   0.157500           0.0
2017-11-10 00:00:00-05:00   0.157500           0.0
2018-02-09 00:00:00-05:00   0.157500           0.0
2018-05-11 00:00:00-04:00   0.182500           0.0
2018-08-10 00:00:00-04:00   0.182500           0.0
2018-11-08 00:00:00-05:00   0.182500           0.0
2019-02-08 00:00:00-05:00   0.182500           0.0
2019-05-10 00:00:00-04:00   0.192500           0.0
2019-08-09 00:00:00-04:00   0.192500           0.0
2019-11-07 00:00:00-05:00   0.192500           0.0
2020-02-07 00:00:00-05:00   0.192500           0.0
2020-05-08 00:00:00-04:00   0.205000           0.0
2020-08-07 00:00:00-04:00   0.205000           0.0
2020-08-31 00:00:00-04:00   0.000000           4.0
2020-11-06 00:00:00-05:00   0.205000           0.0
2021-02-05 00:00:00-05:00   0.205000           0.0
2021-05-07 00:00:00-04:00   0.220000           0.0
2021-08-06 00:00:00-04:00   0.220000           0.0
2021-11-05 00:00:00-04:00   0.220000           0.0
2022-02-04 00:00:00-05:00   0.220000           0.0
2022-05-06 00:00:00-04:00   0.230000           0.0
2022-08-05 00:00:00-04:00   0.230000           0.0
2022-11-04 00:00:00-04:00   0.230000           0.0

In [37]:
ticker.dividends

Date
2013-02-07 00:00:00-05:00    0.094643
2013-05-09 00:00:00-04:00    0.108929
2013-08-08 00:00:00-04:00    0.108929
2013-11-06 00:00:00-05:00    0.108929
2014-02-06 00:00:00-05:00    0.108929
2014-05-08 00:00:00-04:00    0.117500
2014-08-07 00:00:00-04:00    0.117500
2014-11-06 00:00:00-05:00    0.117500
2015-02-05 00:00:00-05:00    0.117500
2015-05-07 00:00:00-04:00    0.130000
2015-08-06 00:00:00-04:00    0.130000
2015-11-05 00:00:00-05:00    0.130000
2016-02-04 00:00:00-05:00    0.130000
2016-05-05 00:00:00-04:00    0.142500
2016-08-04 00:00:00-04:00    0.142500
2016-11-03 00:00:00-04:00    0.142500
2017-02-09 00:00:00-05:00    0.142500
2017-05-11 00:00:00-04:00    0.157500
2017-08-10 00:00:00-04:00    0.157500
2017-11-10 00:00:00-05:00    0.157500
2018-02-09 00:00:00-05:00    0.157500
2018-05-11 00:00:00-04:00    0.182500
2018-08-10 00:00:00-04:00    0.182500
2018-11-08 00:00:00-05:00    0.182500
2019-02-08 00:00:00-05:00    0.182500
2019-05-10 00:00:00-04:00    0.192500
2019-08-09 00:00:00-04:00    0.192500
2019-11-07 00:00:00-05:00    0.192500
2020-02-07 00:00:00-05:00    0.192500
2020-05-08 00:00:00-04:00    0.205000
2020-08-07 00:00:00-04:00    0.205000
2020-11-06 00:00:00-05:00    0.205000
2021-02-05 00:00:00-05:00    0.205000
2021-05-07 00:00:00-04:00    0.220000
2021-08-06 00:00:00-04:00    0.220000
2021-11-05 00:00:00-04:00    0.220000
2022-02-04 00:00:00-05:00    0.220000
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
Name: Dividends, dtype: float64

In [38]:
ticker.splits

Date
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

In [39]:
ticker.financials

,2022-09-30,2021-09-30,2020-09-30,2019-09-30
Total Revenue,394328000000.0,365817000000.0,274515000000.0,260174000000.0
Operating Revenue,394328000000.0,365817000000.0,274515000000.0,260174000000.0
Cost Of Revenue,223546000000.0,212981000000.0,169559000000.0,161782000000.0
Gross Profit,170782000000.0,152836000000.0,104956000000.0,98392000000.0
Operating Expense,51345000000.0,43887000000.0,38668000000.0,34462000000.0
Selling General And Administration,25094000000.0,21973000000.0,19916000000.0,18245000000.0
Research And Development,26251000000.0,21914000000.0,18752000000.0,16217000000.0
Operating Income,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Net Non Operating Interest Income Expense,-106000000.0,198000000.0,890000000.0,1385000000.0
Interest Income Non Operating,2825000000.0,2843000000.0,3763000000.0,4961000000.0
Interest Expense Non Operating,2931000000.0,2645000000.0,2873000000.0,3576000000.0
Other Income Expense,-228000000.0,60000000.0,-87000000.0,422000000.0
Other Non Operating Income Expenses,-228000000.0,60000000.0,-87000000.0,422000000.0
Pretax Income,119103000000.0,109207000000.0,67091000000.0,65737000000.0
Tax Provision,19300000000.0,14527000000.0,9680000000.0,10481000000.0
Net Income Common Stockholders,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income Including Noncontrolling Interests,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income Continuous Operations,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Diluted NI Availto Com Stockholders,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Basic EPS,NaN,5.67,3.31,2.9925
Diluted EPS,NaN,5.61,3.28,2.9725
Basic Average Shares,NaN,16701272000.0,17352119000.0,18471336000.0
Diluted Average Shares,NaN,16864919000.0,17528214000.0,18595652000.0
Total Operating Income As Reported,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Total Expenses,274891000000.0,256868000000.0,208227000000.0,196244000000.0
Net Income From Continuing And Discontinued Operation,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Normalized Income,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Interest Income,2825000000.0,2843000000.0,3763000000.0,4961000000.0
Interest Expense,2931000000.0,2645000000.0,2873000000.0,3576000000.0
Net Interest Income,-106000000.0,198000000.0,890000000.0,1385000000.0
EBIT,122034000000.0,111852000000.0,69964000000.0,69313000000.0
Reconciled Cost Of Revenue,223546000000.0,212981000000.0,169559000000.0,161782000000.0
Reconciled Depreciation,11104000000.0,11284000000.0,11056000000.0,12547000000.0
Net Income From Continuing Operation Net Minority Interest,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Normalized EBITDA,133138000000.0,123136000000.0,81020000000.0,81860000000.0
Tax Rate For Calcs,0.162,0.133,0.144,0.159
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0

In [40]:
ticker.quarterly_financials

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Total Revenue,90146000000.0,82959000000.0,97278000000.0,123945000000.0
Operating Revenue,90146000000.0,82959000000.0,97278000000.0,123945000000.0
Cost Of Revenue,52051000000.0,47074000000.0,54719000000.0,69702000000.0
Gross Profit,38095000000.0,35885000000.0,42559000000.0,54243000000.0
Operating Expense,13201000000.0,12809000000.0,12580000000.0,12755000000.0
Selling General And Administration,6440000000.0,6012000000.0,6193000000.0,6449000000.0
Research And Development,6761000000.0,6797000000.0,6387000000.0,6306000000.0
Operating Income,24894000000.0,23076000000.0,29979000000.0,41488000000.0
Net Non Operating Interest Income Expense,-74000000.0,3000000.0,9000000.0,-44000000.0
Interest Income Non Operating,753000000.0,722000000.0,700000000.0,650000000.0
Interest Expense Non Operating,827000000.0,719000000.0,691000000.0,694000000.0
Other Income Expense,-163000000.0,-13000000.0,151000000.0,-203000000.0
Other Non Operating Income Expenses,-163000000.0,-13000000.0,151000000.0,-203000000.0
Pretax Income,24657000000.0,23066000000.0,30139000000.0,41241000000.0
Tax Provision,3936000000.0,3624000000.0,5129000000.0,6611000000.0
Net Income Common Stockholders,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Net Income,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Net Income Including Noncontrolling Interests,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Net Income Continuous Operations,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Diluted NI Availto Com Stockholders,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Basic EPS,1.29,1.2,1.54,2.11
Diluted EPS,1.29,1.2,1.52,2.1
Basic Average Shares,16030382000.0,16162945000.0,16278802000.0,16391724000.0
Diluted Average Shares,16118465000.0,16262203000.0,16403316000.0,16519291000.0
Total Operating Income As Reported,24894000000.0,23076000000.0,29979000000.0,41488000000.0
Total Expenses,65252000000.0,59883000000.0,67299000000.0,82457000000.0
Net Income From Continuing And Discontinued Operation,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Normalized Income,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Interest Income,753000000.0,722000000.0,700000000.0,650000000.0
Interest Expense,827000000.0,719000000.0,691000000.0,694000000.0
Net Interest Income,-74000000.0,3000000.0,9000000.0,-44000000.0
EBIT,25484000000.0,23785000000.0,30830000000.0,41935000000.0
Reconciled Cost Of Revenue,52051000000.0,47074000000.0,54719000000.0,69702000000.0
Reconciled Depreciation,2865000000.0,2805000000.0,2737000000.0,2697000000.0
Net Income From Continuing Operation Net Minority Interest,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Normalized EBITDA,28349000000.0,26590000000.0,33567000000.0,44632000000.0
Tax Rate For Calcs,0.15963,0.157,0.17,0.16
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0

In [41]:
ticker.quarterly_balance_sheet

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Total Assets,352755000000.0,336309000000.0,350662000000.0,381191000000.0
Current Assets,135405000000.0,112292000000.0,118180000000.0,153154000000.0
Cash Cash Equivalents And Short Term Investments,48304000000.0,48231000000.0,51511000000.0,63913000000.0
Cash And Cash Equivalents,23646000000.0,27502000000.0,28098000000.0,37119000000.0
Cash Financial,18546000000.0,12852000000.0,14298000000.0,17992000000.0
Cash Equivalents,5100000000.0,14650000000.0,13800000000.0,19127000000.0
Other Short Term Investments,24658000000.0,20729000000.0,23413000000.0,26794000000.0
Receivables,60932000000.0,42242000000.0,45400000000.0,65253000000.0
Accounts Receivable,28184000000.0,21803000000.0,20815000000.0,30213000000.0
Other Receivables,32748000000.0,20439000000.0,24585000000.0,35040000000.0
Inventory,4946000000.0,5433000000.0,5460000000.0,5876000000.0
Other Current Assets,21223000000.0,16386000000.0,15809000000.0,18112000000.0
Total Non Current Assets,217350000000.0,224017000000.0,232482000000.0,228037000000.0
Net PPE,42117000000.0,40335000000.0,39304000000.0,39245000000.0
Gross PPE,114457000000.0,111851000000.0,109324000000.0,107699000000.0
Properties,0.0,NaN,NaN,NaN
Land And Improvements,22126000000.0,NaN,NaN,NaN
Machinery Furniture Equipment,81060000000.0,NaN,NaN,NaN
Leases,11271000000.0,NaN,NaN,NaN
Accumulated Depreciation,-72340000000.0,-71516000000.0,-70020000000.0,-68454000000.0
Investments And Advances,120805000000.0,131077000000.0,141219000000.0,138683000000.0
Investmentin Financial Assets,120805000000.0,131077000000.0,141219000000.0,138683000000.0
Available For Sale Securities,120805000000.0,131077000000.0,141219000000.0,138683000000.0
Other Investments,120805000000.0,131077000000.0,141219000000.0,138683000000.0
Other Non Current Assets,54428000000.0,52605000000.0,51959000000.0,50109000000.0
Total Liabilities Net Minority Interest,302083000000.0,278202000000.0,283263000000.0,309259000000.0
Current Liabilities,153982000000.0,129873000000.0,127508000000.0,147574000000.0
Payables And Accrued Expenses,64115000000.0,48343000000.0,52682000000.0,74362000000.0
Payables,64115000000.0,48343000000.0,52682000000.0,74362000000.0
Accounts Payable,64115000000.0,48343000000.0,52682000000.0,74362000000.0
Current Debt And Capital Lease Obligation,21110000000.0,24991000000.0,16658000000.0,16169000000.0
Current Debt,21110000000.0,24991000000.0,16658000000.0,16169000000.0
Commercial Paper,9982000000.0,10982000000.0,6999000000.0,5000000000.0
Other Current Borrowings,11128000000.0,14009000000.0,9659000000.0,11169000000.0
Current Deferred Liabilities,7912000000.0,7728000000.0,7920000000.0,7876000000.0
Current Deferred Revenue,7912000000.0,7728000000.0,7920000000.0,7876000000.0
Other Current Liabilities,60845000000.0,48811000000.0,50248000000.0,49167000000.0
Total Non Current Liabilities Net Minority Interest,148101000000.0,148329000000.0,155755000000.0,161685000000.0
Long Term Debt And Capital Lease Obligation,98959000000.0,94700000000.0,103323000000.0,106629000000.0
Long Term Debt,98959000000.0,94700000000.0,103323000000.0,106629000000.0
Tradeand Other Payables Non Current,16657000000.0,20699000000.0,20711000000.0,24689000000.0
Other Non Current Liabilities,32485000000.0,32930000000.0,31721000000.0,30367000000.0
Total Equity Gross Minority Interest,50672000000.0,58107000000.0,67399000000.0,71932000000.0
Stockholders Equity,50672000000.0,58107000000.0,67399000000.0,71932000000.0
Capital Stock,64849000000.0,62115000000.0,61181000000.0,58424000000.0
Common Stock,64849000000.0,62115000000.0,61181000000.0,58424000000.0
Retained Earnings,-3068000000.0,5289000000.0,12712000000.0,14435000000.0
Gains Losses Not Affecting Retained Earnings,-11109000000.0,-9297000000.0,-6494000000.0,-927000000.0
Total Capitalization,149631000000.0,152807000000.0,170722000000.0,178561000000.0
Common Stock Equity,50672000000.0,58107000000.0,67399000000.0,71932000000.0
Net Tangible Assets,50672000000.0,58107000000.0,67399000000.0,71932000000.0
Working Capital,-18577000000.0,-17581000000.0,-9328000000.0,5580000000.0
Invested Capital,170741000000.0,177798000000.0,187380000000.0,194730000000.0
Tangible Book Value,50672000000.0,58107000000.0,67399000000.0,71932000000.0
Total Debt,120069000000.0,119691000000.0,119981000000.0,122798000000.0
Net Debt,96423000000.0,92189000000.0,91883000000.0,85679000000.0
Share Issued,15943425000.0,16095378000.0,16207568000.0,16334371000.0
Ordinary Shares Number,15943425000.0,16095378000.0,16207568000.0,16334371000.0

In [42]:
ticker.cash_flow

,2022-09-30,2021-09-30,2020-09-30,2019-09-30
Operating Cash Flow,122151000000.0,104038000000.0,80674000000.0,69391000000.0
Cash Flow From Continuing Operating Activities,122151000000.0,104038000000.0,80674000000.0,69391000000.0
Net Income From Continuing Operations,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Depreciation Amortization Depletion,11104000000.0,11284000000.0,11056000000.0,12547000000.0
Depreciation And Amortization,11104000000.0,11284000000.0,11056000000.0,12547000000.0
Deferred Tax,895000000.0,-4774000000.0,-215000000.0,-340000000.0
Deferred Income Tax,895000000.0,-4774000000.0,-215000000.0,-340000000.0
Stock Based Compensation,9038000000.0,7906000000.0,6829000000.0,6068000000.0
Other Non Cash Items,111000000.0,-147000000.0,-97000000.0,-652000000.0
Change In Working Capital,1200000000.0,-4911000000.0,5690000000.0,-3488000000.0
Change In Receivables,-9343000000.0,-14028000000.0,8470000000.0,3176000000.0
Changes In Account Receivables,-1823000000.0,-10125000000.0,6917000000.0,245000000.0
Change In Inventory,1484000000.0,-2642000000.0,-127000000.0,-289000000.0
Change In Payables And Accrued Expense,9448000000.0,12326000000.0,-4062000000.0,-1923000000.0
Change In Payable,9448000000.0,12326000000.0,-4062000000.0,-1923000000.0
Change In Account Payable,9448000000.0,12326000000.0,-4062000000.0,-1923000000.0
Change In Other Current Assets,-6499000000.0,-8042000000.0,-9588000000.0,873000000.0
Change In Other Current Liabilities,5632000000.0,5799000000.0,8916000000.0,-4700000000.0
Change In Other Working Capital,478000000.0,1676000000.0,2081000000.0,-625000000.0
Investing Cash Flow,-22354000000.0,-14545000000.0,-4289000000.0,45896000000.0
Cash Flow From Continuing Investing Activities,-22354000000.0,-14545000000.0,-4289000000.0,45896000000.0
Net PPE Purchase And Sale,-10708000000.0,-11085000000.0,-7309000000.0,-10495000000.0
Purchase Of PPE,-10708000000.0,-11085000000.0,-7309000000.0,-10495000000.0
Net Business Purchase And Sale,-306000000.0,-33000000.0,-1524000000.0,-624000000.0
Purchase Of Business,-306000000.0,-33000000.0,-1524000000.0,-624000000.0
Net Investment Purchase And Sale,-9560000000.0,-2819000000.0,5335000000.0,58093000000.0
Purchase Of Investment,-76923000000.0,-109689000000.0,-115148000000.0,-40631000000.0
Sale Of Investment,67363000000.0,106870000000.0,120483000000.0,98724000000.0
Net Other Investing Changes,-1780000000.0,-608000000.0,-791000000.0,-1078000000.0
Financing Cash Flow,-110749000000.0,-93353000000.0,-86820000000.0,-90976000000.0
Cash Flow From Continuing Financing Activities,-110749000000.0,-93353000000.0,-86820000000.0,-90976000000.0
Net Issuance Payments Of Debt,-123000000.0,12665000000.0,2499000000.0,-7819000000.0
Net Long Term Debt Issuance,-4078000000.0,11643000000.0,3462000000.0,-1842000000.0
Long Term Debt Issuance,5465000000.0,20393000000.0,16091000000.0,6963000000.0
Long Term Debt Payments,-9543000000.0,-8750000000.0,-12629000000.0,-8805000000.0
Net Short Term Debt Issuance,3955000000.0,1022000000.0,-963000000.0,-5977000000.0
Short Term Debt Issuance,3955000000.0,NaN,NaN,NaN
Short Term Debt Payments,NaN,NaN,-963000000.0,NaN
Net Common Stock Issuance,-89402000000.0,-84866000000.0,-71478000000.0,-66116000000.0
Common Stock Issuance,NaN,1105000000.0,880000000.0,781000000.0
Common Stock Payments,-89402000000.0,-85971000000.0,-72358000000.0,-66897000000.0
Cash Dividends Paid,-14841000000.0,-14467000000.0,-14081000000.0,-14119000000.0
Common Stock Dividend Paid,-14841000000.0,-14467000000.0,-14081000000.0,-14119000000.0
Net Other Financing Charges,-6383000000.0,-6685000000.0,-3760000000.0,-2922000000.0
End Cash Position,24977000000.0,35929000000.0,39789000000.0,50224000000.0
Changes In Cash,-10952000000.0,-3860000000.0,-10435000000.0,24311000000.0
Beginning Cash Position,35929000000.0,39789000000.0,50224000000.0,25913000000.0
Income Tax Paid Supplemental Data,19573000000.0,25385000000.0,9501000000.0,15263000000.0
Interest Paid Supplemental Data,2865000000.0,2687000000.0,3002000000.0,3423000000.0
Capital Expenditure,-10708000000.0,-11085000000.0,-7309000000.0,-10495000000.0
Issuance Of Capital Stock,NaN,1105000000.0,880000000.0,781000000.0
Issuance Of Debt,5465000000.0,20393000000.0,16091000000.0,6963000000.0
Repayment Of Debt,-9543000000.0,-8750000000.0,-12629000000.0,-8805000000.0
Repurchase Of Capital Stock,-89402000000.0,-85971000000.0,-72358000000.0,-66897000000.0
Free Cash Flow,111443000000.0,92953000000.0,73365000000.0,58896000000.0

In [43]:
ticker.earnings

           Revenue     Earnings
Year
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000
2022  394328000000  99803000000

In [44]:
ticker.sustainability

                                     Value
2022-8
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           6.86
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               55
governanceScore                       9.18
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.68
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           14.68
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.65
governancePercentile                  None
militaryContract                     False

In [45]:
ticker.recommendations

                                  Firm    To Grade From Grade Action
Date
2012-02-09 08:17:00  Canaccord Genuity         Buy              main
2012-03-08 07:33:00     FBN Securities  Outperform              main
2012-03-13 06:08:00          Jefferies         Buy              main
2012-03-14 06:13:00     Morgan Stanley  Overweight              main
2012-03-14 08:21:00  Canaccord Genuity         Buy              main
...                                ...         ...        ...    ...
2023-02-03 12:38:06          JP Morgan  Overweight              main
2023-02-03 12:42:30        Cowen & Co.  Outperform              main
2023-02-03 13:28:56            Wedbush  Outperform              main
2023-02-03 13:30:22         Rosenblatt         Buy              main
2023-02-03 14:31:06        DA Davidson         Buy              main

[888 rows x 4 columns]

In [46]:
ticker.calendar

                                    0                    1
Earnings Date     2023-04-26 10:59:00  2023-05-01 12:00:00
Earnings Average                 1.48                 1.48
Earnings Low                     1.32                 1.32
Earnings High                    1.69                 1.69
Revenue Average           97495400000          97495400000
Revenue Low               90057000000          90057000000
Revenue High             106168000000         106168000000

## Option Data

In [47]:
ticker.options

('2023-02-03',
 '2023-02-10',
 '2023-02-17',
 '2023-02-24',
 '2023-03-03',
 '2023-03-10',
 '2023-03-17',
 '2023-04-21',
 '2023-05-19',
 '2023-06-16',
 '2023-07-21',
 '2023-08-18',
 '2023-09-15',
 '2023-10-20',
 '2023-12-15',
 '2024-01-19',
 '2024-03-15',
 '2024-06-21',
 '2024-09-20',
 '2025-01-17',
 '2025-06-20',
 '2025-12-19')

In [50]:
expiration_date = ticker.options[0]
options = ticker.option_chain(expiration_date)
options.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL230203C00050000,2023-02-02 15:47:20+00:00,50.0,103.40,105.15,105.30,3.200005,3.193617,1.0,23,12.050784,True,REGULAR,USD
1,AAPL230203C00060000,2023-02-01 20:47:11+00:00,60.0,86.10,95.05,95.20,0.000000,0.000000,9.0,0,9.988285,True,REGULAR,USD
2,AAPL230203C00080000,2023-02-02 19:18:43+00:00,80.0,70.37,75.20,75.60,0.000000,0.000000,1.0,0,7.714844,True,REGULAR,USD
3,AAPL230203C00085000,2023-02-03 15:31:54+00:00,85.0,71.04,70.40,70.75,6.340004,9.799079,4.0,8,7.355470,True,REGULAR,USD
4,AAPL230203C00090000,2023-02-03 16:13:07+00:00,90.0,65.98,65.40,65.70,5.560005,9.202259,7.0,8,6.722658,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,AAPL230203C00200000,2023-02-02 20:59:35+00:00,200.0,0.01,0.00,0.01,0.000000,0.000000,1655.0,1631,1.625002,False,REGULAR,USD
62,AAPL230203C00210000,2023-02-02 17:04:11+00:00,210.0,0.01,0.00,0.01,0.000000,0.000000,10.0,13,1.875001,False,REGULAR,USD
63,AAPL230203C00240000,2023-01-27 15:41:11+00:00,240.0,0.01,0.00,0.01,0.000000,0.000000,1.0,3,2.625003,False,REGULAR,USD
64,AAPL230203C00245000,2023-02-02 16:03:27+00:00,245.0,0.01,0.00,0.01,0.000000,0.000000,4.0,7,2.750003,False,REGULAR,USD
65,AAPL230203C00250000,2023-02-03 14:30:09+00:00,250.0,0.01,0.00,0.01,0.000000,0.000000,6.0,20,2.875003,False,REGULAR,USD

In [51]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     66 non-null     object
 1   lastTradeDate      66 non-null     datetime64[ns, UTC]
 2   strike             66 non-null     float64
 3   lastPrice          66 non-null     float64
 4   bid                66 non-null     float64
 5   ask                66 non-null     float64
 6   change             66 non-null     float64
 7   percentChange      66 non-null     float64
 8   volume             64 non-null     float64
 9   openInterest       66 non-null     int64
 10  impliedVolatility  66 non-null     float64
 11  inTheMoney         66 non-null     bool
 12  contractSize       66 non-null     object
 13  currency           66 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.9+ KB

In [52]:
options.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL230203P00050000,2023-02-02 18:55:18+00:00,50.0,0.01,0.00,0.01,0.000000,0.000000,1,411,6.750002,False,REGULAR,USD
1,AAPL230203P00055000,2023-02-03 14:53:06+00:00,55.0,0.01,0.00,0.01,0.000000,0.000000,1,101,6.125002,False,REGULAR,USD
2,AAPL230203P00060000,2023-01-19 19:29:52+00:00,60.0,0.01,0.00,0.01,0.000000,0.000000,4,122,5.625003,False,REGULAR,USD
3,AAPL230203P00065000,2023-01-20 20:43:14+00:00,65.0,0.01,0.00,0.01,0.000000,0.000000,10,69,5.125004,False,REGULAR,USD
4,AAPL230203P00070000,2023-02-01 19:46:41+00:00,70.0,0.01,0.00,0.01,0.000000,0.000000,1,132,4.750004,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,AAPL230203P00170000,2023-02-03 16:09:43+00:00,170.0,14.36,14.30,14.70,-6.090001,-29.779957,7,5,0.000010,True,REGULAR,USD
61,AAPL230203P00175000,2023-02-03 14:42:15+00:00,175.0,21.40,19.70,19.85,-8.050001,-27.334469,10,0,0.000010,True,REGULAR,USD
62,AAPL230203P00180000,2023-02-03 16:47:26+00:00,180.0,23.15,24.60,24.95,-6.350000,-21.525425,24,25,0.000010,True,REGULAR,USD
63,AAPL230203P00205000,2023-01-27 15:00:32+00:00,205.0,60.50,49.35,49.70,0.000000,0.000000,1,0,0.000010,True,REGULAR,USD
64,AAPL230203P00215000,2023-02-02 19:38:02+00:00,215.0,65.40,59.50,59.90,0.000000,0.000000,2,0,0.000010,True,REGULAR,USD

In [53]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     65 non-null     object
 1   lastTradeDate      65 non-null     datetime64[ns, UTC]
 2   strike             65 non-null     float64
 3   lastPrice          65 non-null     float64
 4   bid                65 non-null     float64
 5   ask                65 non-null     float64
 6   change             65 non-null     float64
 7   percentChange      65 non-null     float64
 8   volume             65 non-null     int64
 9   openInterest       65 non-null     int64
 10  impliedVolatility  65 non-null     float64
 11  inTheMoney         65 non-null     bool
 12  contractSize       65 non-null     object
 13  currency           65 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(7), int64(2), object(3)
memory usage: 6.8+ KB